DEBUG=True

# Database credentials, connecting to DB from the application
DB_HOST=db
DB_NAME=$CI_DB_NAME
DB_USER=$CI_DB_USER
DB_PASS=$CI_DB_PASS

# Database credentials, creating DB in PostgreSQL
POSTGRES_DB=$CI_DB_NAME
POSTGRES_USER=$CI_DB_USER
POSTGRES_PASSWORD=$CI_DB_PASS

# Database connection url in format: postgres://user:pass@host:port/db_name
DATABASE_URL=postgres://$CI_DB_USER:$CI_DB_PASS@db/$CI_DB_NAME

SECRET_KEY=my_secret

# SQL logging in console
CONSOLE_LOGGING=False